@{
    //load file layout vao day
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}
@using BTL.Models
@functions{
    public MyDbContext db = new MyDbContext();
}

<div class="card">
    <div class="body">
        <div>
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation"><a href="#profile_settings" aria-controls="settings" role="tab" data-toggle="tab">Profile Settings</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in" id="profile_settings">
                    <form class="form-horizontal" method="post" action="@ViewBag.action">
                        <div class="form-group">
                            <label for="NameSurname" class="col-sm-2 control-label">Name </label>
                            <div class="col-sm-10">
                                <div class="form-line">
                                    <input type="text" value="@if(Model != null){
                                    <text>@Model.Name</text>
                                    }" name="Name" class="form-control" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Email" class="col-sm-2 control-label">Position</label>
                            <div class="col-sm-10">
                                <select name="Position" class="form-control" style="width:250px;">
                                    <option @if (Model != null && Model.Position == 1) {
                                    <text> selected</text>
 } value="1">Trái (Dưới slide show)</option>
                                    <option @if (Model != null && Model.Position == 2) {
                                    <text> selected</text>
 } value="2">Phải (Dưới slide show)</option>
                                    <option @if (Model != null && Model.Position == 3) {
                                    <text> selected</text>
 } value="3">Trang sản phẩm - Banner</option>
                                    <option @if (Model != null && Model.Position == 4) {
                                    <text> selected</text>
 } value="4">Trang sản phẩm - Dưới TAG</option>
                                    <option @if (Model != null && Model.Position == 5) {
                                    <text> selected</text>
 } value="5">Trang sản phẩm - Dưới Popular products</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="NameSurname" class="col-sm-2 control-label">Photo </label>
                            <div class="col-sm-10">
                                <div class="form-line">
                                    <input type="file" name="Photo" class="form-control" required>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-danger">SUBMIT</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
