@*muốn nhìn thấy class Helper.cs thì phải using thư mục chứa class đó*@
@using BTL.MyClass
@using BTL.Models
@{
	//load file Layout2.cshtml vào đây
	Layout = "~/Views/Sharedd/Layout2.cshtml";
}
@* Để phân trang thì using các đối tượng sau *@
@using X.PagedList
@using X.PagedList.Mvc.Core


<div class="wrap-shop-control">

	

	<div class="wrap-right">
	</div>

</div><!--end wrap shop control-->

<div class="row">

	<ul class="product-list grid-products equal-container">
		@foreach (var item in Model)
		{
			<div class="col-lg-6 col-sm-6">
				<div class="single_product_item">
					<img src="~/Upload/Products/@item.Photo" alt="#" class="img-fluid">
					<h3>
						<a href="/Products/Detail/@item.Id">
							@item.Name
						</a>
					</h3>
					<p>From @string.Format("{0:#,#.}",item.Price)$</p>

				</div>
			</div>
		}

	</ul>

</div>

<div class="load_more_btn text-center">
	
		@Html.PagedListPager((IPagedList)Model,p=>Url.Action("SearchPrice", new {page = p, fromPrice=ViewBag.fromPrice, toPrice=ViewBag.toPrice}))
	
</div>
<style>
	.pagination {
		justify-content: center;
	}


		.pagination > .active > span, .pagination > .active > span :hover{
	z-index: 3;
	color: #fff;
	cursor: default;
	background-color: #B08EAD;
	border-color:  #F4EDF2;
}
		.pagination > li > a, .pagination > li > span {
			position: relative;
			float: left;
			padding: 6px 12px;

			margin-left: 20px;
			line-height: 1.42857143;
			color: black;
			border-radius: 50%;
			text-decoration: none;
			background-color: #fff;
			border: 1px solid #ddd;
		}
</style>
