@{
    Layout = "~/Views/Sharedd/Layout2.cshtml";
}

@using BTL.MyClass;
@using BTL.Models;
@using X.PagedList
@using X.PagedList.Mvc.Core
@{
    MyDbContext db = new MyDbContext();

    List<ItemProduct> lstProd = db.Products.OrderByDescending(n => n.Id).ToList();
}

<div class="product_list">
    <div class="row">
        @foreach(var item in Model)
        {
            <div class="col-lg-6 col-sm-6">
            <div class="single_product_item">
                <img src="~/Upload/Products/@item.Photo" alt="#" class="img-fluid">
                <h3>
                        <a href="/Products/Detail/@item.Id">
                        @item.Name
                    </a>
                </h3>
                    <p>From @string.Format("{0:#,#.}",item.Price)$</p>                 
            </div>
        </div>
        }      
    </div> 
    <div class="load_more_btn text-center">
             @Html.PagedListPager((IPagedList)Model,p=>Url.Action("Index", new {page = p})) 
    </div>      
</div>
<style>
    .pagination {
        justify-content: center;
    }


        .pagination > .active > span, .pagination > .active > span :hover{
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #B08EAD;
    border-color:  #F4EDF2;
}
        .pagination > li > a, .pagination > li > span {
            position: relative;
            float: left;
            padding: 6px 12px;
            
            margin-left: 20px;
            line-height: 1.42857143;
            color: black;
            border-radius: 50%;
            text-decoration: none;
            background-color: #fff;
            border: 1px solid #ddd;
        }
</style>

